:root {
    --accent-color: #FFD76E;
    --text-color: #FFFFFF;
    --background-color: #050404;
    --secondaru-text: #000000;
}

.header{
    background-color: var(--background-color) ;
}

.header-link {
    color: var(--text-color);
}