:root {
  --accent-color: #ffd76e;
  --text-color: #ffffff;
  --background-color: #050404;
  --secondaru-text: #000000;
}


body {
  font-family: Inter;
  /*background-color: var(--background-color);*/
}

.container {
  width: 1183px;
  padding: 0 15px;
  outline: dashed red;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  padding-top: 26px;
  padding-bottom: 27px;
}
.header-list {
  display: flex;
  justify-content: end;
  gap: 21px;
}
.header-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 200;
}

.header-link:hover {
  font-size: 16px;
  font-weight: 500;
}

.hero-title {
  color: var(--text-color);
  font-size: 128px;
  font-weight: 400;
  margin-bottom: 6px;
}

.hero {
  background: url(../imges/hero-background.jpg);
  box-shadow: -1px 1px 8px -3px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4.5px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 21px;

}

.hero-subtitle {
  color: var(--text-color);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero-text {
  max-width: 460px;
  color: var(--text-color);
  text-align: justify;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 48px;
}
.hero-button {
  color: var(--secondaru-text);
  background-color: var(--accent-color);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 84px;
  display: block;
  padding: 15px 31px 16px;
  border-radius: 10px;
}
.hero-link {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  display: block;
  text-align: center;
}
.about {
  padding-top: 40px;
  padding-bottom: 77px;
}
.about-title {
  color: var(--accent-color);
}
.about-text {
  color: var(--text-color);
}
.about-name {
  color: var(--text-color);
}

.about-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  display: flex;
  flex-direction: column;

}

.about-text {
  color: var(--text-color);
  text-align: justify;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 112px;
  max-width: 892px;
  margin-left: auto;
  margin-right: auto;
}

.about-name {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.about-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 892px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about-item:first-child {
  padding-left: 259px;
  padding-right: 333px;
}

.about-item:nth-child(2) {
  position: absolute;
  right: 15px;
  top: 108px;
}

.about-subtitle {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.lviv {
  padding-top: 72px;
  padding-bottom: 92px;
}

.lviv-title {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.lviv-text {
  color: var(--secondaru-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 115px;
  max-width: 351px;
  margin-right: auto;
  margin-left: auto;
}

.lviv-wraper {
  display: flex;
  gap: 132px;
  align-items: flex-end;
}

.lviv-information {
  padding-bottom: 55px;
}

.lviv-info {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 46px;

}

.lviv-description {
  color: var(--text-color);
  text-align: justify;
  font-size: 24px;
  font-weight: 400;
  max-width: 559px;
  margin-left: auto;
}

.lviv-btn {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  background: var(--accent-color);
  margin-top: 125px;
  margin-left: auto;
  display: block;
  padding: 15px 31px 16px;
}

.lviv-foto{
  width: 396px;
  height: 460px;
}

.kharkiv{
  outline: solid green;
  padding-top: 75px;
}

.kharkiv-title {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 25.3px;
}

.kharkiv-text {
  color: var(--secondaru-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  max-width: 351px;
  outline: solid violet;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 79px;
}

.kharkiv-support {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
  
}

.kharkiv-info {
  color: var(--secondaru-text);
  font-size: 32px;
  font-weight: 400;
}

.kyiv-title {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 700;
}

.kyiv-text {
  color: var(--secondaru-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.kyiv-games {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
}
.kyiv-photo {
  width: 300px;
  height: 300px;
}

.kyiv-desc {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
}

.kyiv-product {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
}
.kyiv-img {
  width: 300px;
  height: 300px;
}

.kherson {
}
.kherson-title {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 700;
}

.khreson-text {
  color: var(--secondaru-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.khreson-achievement {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
}

.khreson-list {
}

.khreson-item {
}

.khreson-article {
}

.khreson-photo {
}

.khreson-info {
  color: var(--text-color);
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

.mariupol {
}
.mariupol-title {
  color: var(--secondaru-text);
  font-size: 24px;
  font-weight: 700;
}
.mariupol-text {
  color: var(--secondaru-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.mariupol-details {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 400;
}
.mariupol-info {
  border: var(--accent-color) solid 4px;
  border-radius: 8px;
}
.mariupol-company {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 300;
}
.mariupol-desc {
  color: var(--secondaru-text);
  font-size: 20px;
  font-weight: 500;
}
.footer {
}
.footer-title {
  color: var(--text-color);
  text-align: center;
  font-size: 48px;
  font-weight: 500;
}
.footer-list {
}
.footer-item {
}
.footer-link {
}
.footer-icon {
}
