
.scroll-top {
    background-color: $accent-color;
    width: 75px;
    height: 75px;
    @include flexbox();
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
  
    border: 3px solid $text-color;
    transition-property: box-shadow;
    transition-duration: 320ms;
  }
  
  .scroll-top:hover {
    box-shadow: 0 0 10px 5px $accent-color;
  }
  
  .scroll-icon {
    stroke: $text-color;
    transform: rotate(180deg);
  }
  