%button-styles {
  @include text($color: $secondary-color);
  background-color: $accent-color;
  display: block;
  padding: 15px 31px 16px;
  border-radius: 10px;
  transition-property: box-shadow, color;
  transition-duration: 450ms;
  animation-name: button-move;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  color: $text-color;

  &:hover {
    box-shadow: 0 0 10px 5px $accent-color;
  }
}

%city {
  padding-top: 75px;
  padding-bottom: 79px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.27),
      rgba(255, 255, 255, 0.27)),
    url(../images/city-bg.webp);
  box-shadow: inset -1px 1px 8px -3px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4.5px);
  background-size: cover;
  background-repeat: no-repeat;
}

%city-title {
  @include text($color: $secondary-color, $weight: 700);
  text-align: center;
  margin-bottom: 25px;
}

%city-text {
  @include text($color: $secondary-color, $size: 20px);
  color: $secondary-text;
  text-align: center;
  max-width: 351px;
  margin: 0 auto;
}