.about {
  padding-top: 40px;
  padding-bottom: 77px;
  background-image: url(../images/about-boxes.png);
  background-repeat: no-repeat;

  & .container {
    background-image: url(../images/about-box.png),
      url(../images/about-box2.png);
    background-repeat: no-repeat;
    background-position: 396px 655px, 228px 360px;
  }

  &__title {
    @include text($size: 48px, $color: $accent-color);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__text {
    @include text();
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 112px;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
  }

  &__name {
    @include text();
    text-align: center;
    margin-top: 10px;
  }

  &__list {
    @include flexbox($align: flex-start, $justify: flex-start);
    gap: 20px;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  &__item:first-child {
    padding-left: 259px;
    padding-right: 333px;
  }

  &__item:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 108px;
  }

  &__subtitle {
    @include text($weight: 700, $color: $accent-color);
    color: $accent-color;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}