.about {
    padding-top: 40px;
    padding-bottom: 77px;
    background-image: url(../images/about-boxes.png);
    background-repeat: no-repeat;
  }
  
  .about .container {
    background-image: url(../images/about-box.png), url(../images/about-box2.png);
    background-repeat: no-repeat;
    background-position: 396px 655px, 228px 360px;
  }
  
  .about-title {
    color: $accent-color;
  }
  .about-text {
    color: $text-color;
  }
  .about-name {
    color: $text-color;
  }
  
  .about-title {
    color: $accent-color;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  
  .about-text {
    color: $text-color;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 112px;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about-name {
    color: $text-color;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }
  
  .about-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .about-item:first-child {
    padding-left: 259px;
    padding-right: 333px;
  }
  
  .about-item:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 108px;
  }
  
  .about-subtitle {
    color: $accent-color;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  