.achievement {
  background-color: $background-color;

  &__title {
    color: $accent-color;
    font-size: 64px;
    font-weight: 400;
    margin-top: 133px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__list {
    @include flexbox();
    flex-direction: column;
    max-height: 630px;
    max-width: 1018px;
    gap: 40px;
    margin: 0 auto;
    margin-bottom: 115px;
  }

  &__item {
    width: 312px;
    line-height: 0;
  }

  &__photo {
    margin-bottom: 40px;

    &:last-child,
    &:only-child {
      margin: 0;
    }
  }

  &__info {
    color: $text-color;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    border: 2px solid $accent-color;
    padding: 0 11px;
    line-height: normal;


  }

  &__item:first-child &__info {
    padding-bottom: 21px;
    padding-top: 21px;
  }

  &__item:last-child &__info {
    padding-bottom: 124px;
    padding-top: 68px;
  }

  &__info:first-child {
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 64px;
  }


}