.fond {
  padding-top: 72px;
  padding-bottom: 160px;

  &__title {
    @include text($size: 64px, $color: $accent-color);
    padding-bottom: 101px;
    text-align: center;
  }

  &__info {
    border: $accent-color solid 4px;
    border-radius: 8px;
    max-width: 752px;
    margin: 0 auto;
    padding: 37px 0 14px 15px;
    background-color: $text-color;
  }

  &__company {
    @include text($weight: 300, $size: 20px, $color: $accent-color);
    text-shadow: 2px 3px 2px #000000;
    margin-bottom: 17px;
  }

  &__desc {
    @include text($weight: 500, $size: 20px, $color: $secondary-color);
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
}