.hero {
  background-image: url(../images/herobg.png);
  box-shadow: -1px 1px 8px -3px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(4.5px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 123px;
  padding-bottom: 21px;
  overflow: hidden;

  &__title {
    @include text($size: 128px);
    font-size: 128px;
    font-weight: 400;
    margin-bottom: 6px;
    transform: translate(0);
    animation-name: title-move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  &__subtitle {
    @include text($size: 64px);
    margin-bottom: 30px;
    animation-name: subtitle-move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  &__text {
    @include text();
    max-width: 460px;
    text-align: justify;
    margin-bottom: 48px;
    animation-name: text-move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

  }

  &__button {
    margin-bottom: 84px;
    @extend %button-styles
  }

  &__link {
    font-style: normal;
    line-height: normal;
    @include text($weight: 100);
    display: block;
    text-align: center;
  }

  &__icon {
    fill: $text-color;
    display: block;
    margin: 0 auto;
    margin-top: 13px;
  }
}

@keyframes title-move {
  0% {
    transform: translate(-1500px, 0);
  }

  100% {
    transform: translate(0);
  }
}


@keyframes subtitle-move {
  0% {
    transform: translate(2000px, 0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes text-move {
  0% {
    text-shadow: none;
    opacity: 0;
  }

  50% {
    text-shadow: 2px 2px 5px #424242;
  }

  100% {
    opacity: 1;
    text-shadow: none;
  }
}

@keyframes button-move {
  0% {
    transform: translateY(350px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(720deg);
  }
}