.information {
    padding-top: 37px;
    padding-bottom: 92px;


    &__container {
        display: flex;
        gap: 132px;
        align-items: flex-end;
    }

    &__foto {
        width: 396px;
        height: 460px;
    }

    &__wrap {
        padding-bottom: 55px;
    }

    &__info {
        color: $accent-color;
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 46px;
    }

    &__description {
        color: $text-color;
        text-align: justify;
        font-size: 24px;
        font-weight: 400;
        max-width: 559px;
        margin-left: auto;
    }

    &__btn {
        margin-top: 125px;
        margin-left: auto;
        @extend %button-styles
    }
}