.information {
    padding-top: 37px;
    padding-bottom: 92px;
}

.information-container {
    display: flex;
    gap: 132px;
    align-items: flex-end;
}

.information-wrap {
    padding-bottom: 55px;
}

.information-info {
    color: $accent-color;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 46px;
}

.information-description {
    color: $text-color;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
    max-width: 559px;
    margin-left: auto;
}

.information-btn {
    color: $secondary-text;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    background: $accent-color;
    margin-top: 125px;
    margin-left: auto;
    display: block;
    padding: 15px 31px 16px;
}

.information-foto {
    width: 396px;
    height: 460px;
}