.information {
    padding-top: 37px;
    padding-bottom: 92px;


    &__container {
        @include flexbox($align: flex-end, $justify: flex-start);
        gap: 132px;
    }

    &__foto {
        width: 396px;
        height: 460px;
    }

    &__wrap {
        padding-bottom: 55px;
    }

    &__info {
        @include text($size: 64px, $color: $accent-color);
        margin-bottom: 46px;
    }

    &__description {
        @include text();
        text-align: justify;
        max-width: 559px;
        margin-left: auto;
    }

    &__btn {
        margin-top: 125px;
        margin-left: auto;
        @extend %button-styles
    }
}